<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Login</h1>
    <h2 th:if="${error}">Sai username hoặc password</h2>
    <form th:action="@{/doLogin}" method="post">
      <table>
      <tr>
        <td>Username</td>
        <td><input type="text" name="username"></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="password"></td>
      </tr>
      </table>
      <input type="submit" value="Login">
    </form>
</body>
</html>